# Q1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
-
/ 
+
6

Answer:
*,-,/,+  -------------> mathematical operators
'hello'-----> string value
-87.8 ---------> floating value
6 -----> integer value

# Q2

2. What is the difference between string and variable?

Answer:
A variables are something where we can store values like 'string','integer','float' etc.They are atually a reserved memory location for storing values.

A string is a collection of one or more characters.It is a datatype which can be stored in variable.Strings are always enclosed with quotes (single or double).Strings are also immutable.

In [1]:
# variable example:
x='hello world'
y=56.56
z=5
#Here x,y and z are the variables.

In [5]:
# string example:
x='my name is arup'
y='85.5'
z='5'
print(type(x))
print(type(y))
print(type(z))

x[0]='l'  #it is showing an error as strings are immutable

<class 'str'>
<class 'str'>
<class 'str'>

TypeError: 'str' object does not support item assignment

# Q3

3.Describe three different data types.

Answer:
       Three different data types are:-
       
    Integers---> This value is represented by integer class.It contains positive and negetive whole numbers(without fraction or decimal).In python there is no limit to how long an integer value can be.
    
    Float----> This value is represented by float class.It is a real number with floting point represention.It is specified by a decimal point.
    
    String-----> A string is a collection of one or more characters.Strings are always enclosed with quotes (single or double).Strings are also immutable.
    
    All the above data types can be stored in variable.

In [6]:
#Example:
#Integers
x=5
print(type(x))

#Float
y=6.5
print(type(y))

#String
z='Hello my name is arup'
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

# Q4

4. What is an expression made up of? What do all expressions do?

Answer:
    Expression is a combination of values,variables,operators in python.
    
    All expressions do evaluation to give us a single result.

In [9]:
#example:
x=5
x+2 #combinaton of variable x,operator '+',value=2,so it is an expression

7

# Q5

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer:
    Statements represent some kind of  action or command e.g print statements, assignment statements.A statement never returns a value.
    Whereas, Expression is a combination of variables, operations and values that gives a result value.All expressions do evaluation to give us a single result.

In [12]:
#example:
print('Hello my name is arup ') #print statement

(5+3)+(10-6) #expression

Hello my name is arup

12

# Q6

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [16]:
#Answer:
bacon = 22

bacon + 1

bacon

# here bacon+1 does not reassign the new value(i.e 23) to the original bacon variabe.
#Here we need an assaignment statement i.e. bacon=bacon+1 to update it's value.

22

# Q7

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [21]:
#Answer:
print('spam' + 'spamspam')
print('spam' * 3)
#both expressions give the same output

spamspamspam
spamspamspam

# Q8

8. Why is eggs a valid variable name while 100 is invalid?

#Answer:
      
      As eggs start with a alphabet,so it is valid.Because variable name in python can start with an alphabet.
      But 100 is invalid because variabe names cannot start with a number in python.

# Q9

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#Answer:
       int(),float() and str() are the three functions that can be used to get the integer,floating-point number,or string version of a value respectively.

In [22]:
#Example
#Integers:

x = int(3)   # x will be 3
y = int(3.8) # y will be 3
z = int("5") # z will be 5

#Floats:

x = float(8)     # x will be 8.0
y = float(7.8)   # y will be 7.8
z = float("5")   # z will be 5.0
w = float("9.2") # w will be 9.2

#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Q10

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

#Answer:
     This error happened because we can not concatenate integer  with a string.
     
     In order to fix this,we have to perform type casting to convert integer 99 to string 99.This is shown in below example.

In [28]:
#example:
'I have eaten ' + 99 + ' burritos.'    #showing error

TypeError: can only concatenate str (not "int") to str

In [27]:
'I have eaten ' + str(99) + ' burritos.'  #performed type casting-->str(99)

'I have eaten 99 burritos.'